.grid1 {
  display: grid;
  /* kiek stulpeliu */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.grid {
  background-color: #e7e7e7;
  padding: 20px;
}

.item1 {
  grid-column: 1 / span 3;
  grid-row: span 2;
}

.item2 {
  grid-column: 4 / span 3;
}
.item3 {
  grid-column: span 3;
}

.item4,
.item5,
.item6 {
  grid-column: span 2;
}

.uzduotis {
  width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.block1 {
  background-color: rgb(88, 118, 88);
  padding: 40px;
}
label {
  display: block;
  margin: 5px 0;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* line-height: 2; */
}

.pt3,
.pt4,
.pt5 {
  grid-column: span 2;
}

input,
textarea {
  line-height: 2;
  width: 100%;
  border-radius: 4px;
}
textarea {
  resize: vertical;
}

input[type="button"] {
  background-color: #444;
  border-radius: 20px;
  color: white;
}

.block2 {
  background-color: grey;
  color: white;
  padding: 100px 50px;
  text-align: center;
}

.rotatedl {
  transform: rotate(-35deg) scale(0.7); /* Equal to rotateZ(45deg) */
}
.rotatedr {
  transform: rotate(35deg) scale(0.7); /* Equal to rotateZ(45deg) */

  /* PASKUTINE UZDUOTIS */
}
.lentele {
  display: grid;
  background-color: blue;
  padding: 10px;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  line-height: 2;
}
.lentele > div {
  background-color: lightblue;
}

.first {
  grid-column: span 5;
}

.second {
  grid-row: span 4;
}

.third,
.forth {
  grid-column: span 2;
  grid-row: span 3;
}

.fifth {
  grid-column: span 4;
}
